<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'feedDetail')}">
<body>

<div class="container">

    <div class="col-sm-auto">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>TITLE</th>
                <th>LINK</th>
                <th>DESCRIPTION</th>
                <th>PUBLISHED</th>
            </tr>
            </thead>
            <tr th:each="Item : ${items}">
                <td th:text="${Item.getTitle()}"/>
                <td th:text="${Item.getLink()}"/>
                <td th:text="${Item.getDescription()}"/>
                <td th:text="${Item.getPublished()}"/>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

</html>