<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'feed')}">
<body>

<div class="container">

    <div class="col-sm-auto">
        <!-- feed data doesn't exist -->
        <div th:if="${param.blank}">
            <div class="alert alert-warning">Feed data does not exist!!!</div>
        </div>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>NAME</th>
                <th>TITLE</th>
                <th>LAST UPDATE DATE</th>
                <th>URL</th>
                <th></th>
            </tr>
            </thead>
            <tr th:each="Feed : ${feeds}">
                <td th:text="${Feed.getFeedName()}"/>
                <td th:text="${Feed.getTitle()}"/>
                <td th:text="${Feed.getLastUpdate()}"/>
                <td>
                    <a th:href="${Feed.getUrl()}" th:text="${Feed.getUrl()}"></a>
                </td>
                <td>
                    <a th:href="@{/preview(id=${Feed.getId()})}"
                       class="btn btn-info btn-sm">Details</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>

</html>