<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'feed')}">
<body>


<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>Title</th>
            <th>Last update date</th>
            <th>Url</th>
        </tr>
        </thead>
        <tbody id="invoiceTable">
        <tr th:each="Feed : ${feeds}">
            <td th:text="${Feed.getFeedName()}"/>
            <td th:text="${Feed.getTitle()}"/>
            <td th:text="${Feed.getLastUpdate()}"/>
            <td th:text="${Feed.getUrl()}"/>
        </tr>
        </tbody>
    </table>
</div>



</body>

</html>